body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select {
    margin-bottom: 10px;
}

button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
